<!-- Blog Section -->
{% assign postCount = site.posts | size %}
<div id="blog" class="container-fluid section">
    <div class="row">
        <h2 class="section-heading">Blog</h2>
        <span class="header-line"></span>
        <p class="text-center section-desc">
            <b><i>Awesome blog posts about web development and stuff.</i></b>
        </p>
    </div>
    <div class="container">
        <div class="row blogs">
            {% for post in site.posts limit:3 %}
            {% if postCount == 1 %}
            <div class="col-md-6 col-md-offset-3 blog">
                {% elsif postCount == 2 %}
                <div class="col-md-6 blog">
                    {% else %}
                    <div class="col-md-4 blog">
                        {% endif %}
                        {% if post.image %}
                        <img src="/assets/blog/{{ post.image }}" alt="Cris Noel Blog | {{ post.title }} image.">
                        {% endif %}
                        <h3 class="base-font">{{ post.title }}</h3>
                        {% include _blog-preview.html %}
                        <a href="{{ post.url | prepend: site.baseurl }}">Read More &#x2192;</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="blog/" class="btn btn-sm">All Blog Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
