<!-- Skills Section -->
<div id="skills" class="container-fluid section">
    <div class="row">
        <h2 class="section-heading">What I Do</h2>
        <span class="header-line"></span>
    </div>
    <div class="container">
        <div class="row skills-content">
            <div class="col-sm-6">
                <div class="skill">
                    <span class="glyphicon glyphicon-picture"></span>
                    <h4 class="skill-name">
                        Front-end Development
                    </h4>
                    <hr>
                    <p>I can design the layout and look of a website using html and css, as well as add user interactivity with javascript and jQuery.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill">
                    <span class="glyphicon glyphicon-cog"></span>
                    <h4 class="skill-name">
                        Back-end Development
                    </h4>
                    <hr>
                    <p>I use PHP to make dynamic content and manage data in the database in a secure fashion while creating DRY reusable code.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill last-row">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <h4 class="skill-name">
                        Website Optimization
                    </h4>
                    <hr>
                    <p>I minify/concat resources as well as optimize images to speed up load time of a website. For searchablity I use basic SEO practices.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill last-row last">
                    <span class="glyphicon glyphicon-phone"></span>
                    <h4 class="skill-name">
                        Responsive Web Design
                    </h4>
                    <hr>
                    <p>It's essential for a website to be able to resize responsively. I use css frameworks and media queries to achieve scalability.</p>
                </div>
            </div>
        </div>
    </div>
</div>
