<div class="post-info">
    <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="Posted on"></span>
    <span>{{ post.date | date: "%b %-d, %Y" }}</span>
    <span>
        <span class="glyphicon glyphicon-bookmark" data-toggle="tooltip" data-placement="top" title="Estimated read time"></span>
        <!-- Calculate read time -->
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %}
          1 minute read
        {% else %}
          {{ words | divided_by:180 }} minute read
        {% endif %}
    </span>
</div>
<p class="excerpt">{{ post.description }}</p>
