<!-- Footer -->
<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 social">
                <h4 class="heading-font">CONNECT</h4>
                <a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i> GITHUB</a>
                <a target="_blank" href="https://codepen.io/{{ site.codepen_username }}"><i class="fab fa-codepen"></i> CODEPEN</a>
                <a target="_blank" href="https://codepen.io/{{ site.codepen_username }}"><i class="fab fa-linkedin"></i> LINKEDIN</a>
                <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}"><i class="fab fa-facebook-square"></i> FACEBOOK</a>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="row">
            <p>ALL RIGHTS RESERVED <a href="/">{{ site.data.owner.name }}</a> &COPY; {{ 'now' | date: "%Y" }}</p>
        </div>
    </div>
    <a href="#">
        <span id="to-top" class="glyphicon glyphicon-menu-up hidden-xs hidden-sm" data-toggle="tooltip" data-placement="top" title="Go To Top"></span>
    </a>
</footer>
