<!-- Menu Bar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{"/"}}">
                <img class="navbar-brand" src="/assets/images/cn-logo.png" alt="{{ site.data.owner.name }}'s logo." />
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav">
                {% if page.url == "/" %}
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#works">Works</a></li>
                    {% if site.posts.size != 0 %}
                        <li><a href="#blog">Blog</a></li>
                    {% endif %}
                    <li><a href="#contact">Contact</a></li>
                {% elsif page.isPost %}
                    <li><a href="/blog">Back To Blogs</a></li>
                {% else %}
                    <li><a href="{{"/"}}">Go Home</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 flash-message">
            <p></p>
            <button type="button" class="close" data-dismiss="flash-message" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>
