<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{site.twitter_username}}">
{% if page.title %}
    <meta name="twitter:title" content="{{page.title}}">
{% else %}
    <meta name="twitter:title" content="Web Portfolio and Web Dev Blogs">
{% endif %}
{% if page.description %}
    <meta name="twitter:description" content="{{page.description}}">
{% else %}
    <meta name="twitter:description" content="{{site.description}}">
{% endif %}
<meta name="twitter:creator" content="@{{site.twitter_username}}">
{% if page.isPost %}
    <meta name="twitter:image" content="http://{{site.url}}/assets/blog/{{page.image}}">
{% else %}
    <meta name="twitter:image" content="http://{{site.url}}/assets/images/site-screenshot.png">
{% endif %}
