* {
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
}
body,
html {
    height: 100%;
}
body {
    font-family: $base-font;
}
p {
    font-family: sans-serif;
}
a,
a:focus,
a:hover {
    color: $primary-color;
}
a,
button,
.skill,
.form-control{
    @include transitions;
}
blockquote {
    color: $grey;
}
textarea {
    resize: none;
}
table {
    @include table($secondary-color);
}
pre {
    background: #272822;
    color: white;
}
@include page-selection;
@include scrollbar;
@include myTabbedContent;


