/**
* Pre-Loader
*/
#load_screen {
    background: black;
    opacity: 1;
    position: fixed;
    z-index: 1040;
    top: 0;
    width: 100%;
    height: 100%;
}
.loader {
    width: 150px;
    height: 150px;
    color: white;
    font-family: $base-font;
    line-height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}
.loader:after,
.loader:before {
    opacity: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 5px solid #fff;
    -moz-box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}
.loader:after {
    z-index: 1;
    -moz-animation: preloader 2s infinite 1s;
    -moz-animation: preloader 2s infinite 1s;
    -webkit-animation: preloader 2s infinite 1s;
    -webkit-animation: preloader 2s infinite 1s;
    animation: preloader 2s infinite 1s;
    animation: preloader 2s infinite 1s;
}
.loader:before {
    z-index: 2;
    -moz-animation: preloader 2s infinite;
    -webkit-animation: preloader 2s infinite;
    animation: preloader 2s infinite;
}
@-webkit-keyframes preloader {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes preloader {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
