@mixin size($height, $width) {
    height: $height;
    width: $width;
}

@mixin header-line($color, $m-top, $m-right, $m-bottom, $m-left){
    display: block;
    height: 5px;
    width: 60px;
    margin: $m-top $m-right $m-bottom $m-left;
    background-color: $color;
}

@mixin btn{
    padding: 9px;
    border-radius: 5px;
    margin: 5px 0;
    border: 3px solid $primary-color;
    background-color: $primary-color;
    color: white;
    &:active,
    &:focus,
    &:hover {
        background: $secondary-color;
        border-color: $secondary-color;
        color: white;
    }
}

@mixin table($head-color){
    border-collapse: collapse;
    width: 100%;
    & thead {
        background: $head-color;
        color: white;
    }
    & th,
    tr {
        padding: 5px;
    }
}

@mixin transitions{
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

@mixin blog-list{
    height: 100%;
    margin-bottom: 20px;
    padding: 10px 10px 20px;
    background: $whitesmoke;
    border-radius: 5px;
    text-align: center;
}

@mixin paginator{
    padding: 10px 15px 20px;
    & span {
        background: $whitesmoke;
        color: $grey;
        padding: 5px 10px;
        border-radius: 5px;
    }
    & a {
        background: $whitesmoke;
        margin: 0 3px;
        padding: 2px 9px;
        color: $secondary-color;
        border-radius: 100%;
        &.active,
        &:hover {
            background: $primary-color;
            color: white;
        }
    }
    & .endCtrls {
        background: $whitesmoke;
        padding: 5px 10px;
        color: $secondary-color;
        border-radius: 5px;
    }
}

@mixin carousel-control {
    background-image: none !important;
    bottom: 95px;
    color: black;
    opacity: 1;
    text-shadow: 2px 2px 2px $secondary-color !important;
    & .glyphicon {
        font-size: 2em;
    }
    &:focus,
    &:hover {
        color: black;
    }
}

@mixin carousel-indicators {
    @media screen and (min-width: 992px) {
        top: 180px;
    }
    & li{
        border-color: black;
        background: $primary-color;
        margin: 0 5px;
        @include size(12px, 12px);
        &.active {
            margin: 0 5px;
            @include size(14px, 14px);
        }
    }
}

@mixin page-selection {
    ::selection {
        color: white; 
        background: $primary-color;
    }
    ::-moz-selection {
        color: white; 
        background: $primary-color;
    }
}

@mixin scrollbar {
    ::-webkit-scrollbar {
      width:  .7em;
      height: .7em;
    }

    ::-webkit-scrollbar-thumb {
        background: $primary-color;
        height: 30;
    }

    ::-webkit-scrollbar-track {
        background: $secondary-color;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $primary-color;
        scrollbar-track-color: $secondary-color;
    }
}

@mixin myTabbedContent {
    .tab-container{
        background: whitesmoke;
        @media screen and (min-width: 768px)  {
            margin-left: 15px;
        }
        & figure{
            padding-left: 0 !important;
        }
        .nav-tabs{
            background: $secondary-color;
            & li{
                margin-bottom: 0;
            }
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
            border: none;
        }
        .nav-tabs>li>a{
            border-radius: 0;
            color: white;
            background-color: $secondary-color;
            border: none;
            border-bottom: 4px solid $secondary-color;
            padding: 5px;
            margin: 0;
            font-size: .8em;
            &:hover{ 
                border-bottom-color: $primary-color;
            }
            @media screen and (min-width: 768px)  {
                padding: 15px 10px;
                font-size: initial;
            }
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
            cursor: default;
            color: white;
            background-color: $secondary-color;
            border-bottom: 4px solid $primary-color;
        }
    }
}
