/**
* Navigation Bar Style
*/
.navbar {
    background: rgba(0,0,0,.85);
    border: none;
    padding: 0;
    .nav {
        padding-left: 15px;
        & li {
            padding: 10px;
            & a {
                font-family: $base-font;
                color: white !important;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                padding: 0;
            }
            &.active,
            &.active a {
                background-color: transparent !important;
                color: $primary-color !important;
            }
        }
    }
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-width: 2px;
    border-color: $primary-color;
}
.navbar-default .navbar-toggle .icon-bar {
    background: white;
}

