$primary-color: firebrick;
$secondary-color: #272822;
$whitesmoke: whitesmoke;
$grey: #777;
$heading-font: 'Permanent Marker', cursive;
$base-font: 'Montserrat', sans-serif;
$border-sep: 1px solid #d9d7d8;
