---
layout: page
title: Blog
description: Cris Noel's blog posts on web development.
tagline: Awesome blog posts about web development and stuff. 
---
<div id="blog-posts" class="container">
    <div class="row">
        {% for post in paginator.posts %}
            <div class="col-sm-6 col-md-4">
                <div class="listing">
                    {% if post.image %}
                        <img src="/assets/blog/{{ post.image }}" alt="Cris Noel Blog | {{ post.title }} image."/>
                    {% endif %}
                    <h3 class="base-font">{{ post.title }}</h3>
                    {% include _blog-preview.html %}
                    <a class="btn btn-sm" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <!-- Pagination links -->
        {% include _paginator.html %}
    </div>
</div>
