---
layout: default
---

<div id="page-header" class="container">
    <div class="row">
        <div class="header-content col-md-8 col-md-offset-2">
            <h1 class="text-center {% if page.layout == "page" %}heading-font {% endif %}">
                {% if page.layout == "archive-year" %}
                    Posts from {{ page.date | date: "%Y" }}
                {% elsif page.layout == "archive-month" %}
                    Posts from {{ page.date | date: "%B %Y" }}
                {% elsif page.layout == "archive" %}
                    Posts with {{ page.type }} '{{ page.title }}'
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h1>
            <span class="header-line margin-center"></span>
            {% if page.tagline %}
            <p class="text-center page-desc">
                <b><i>{{ page.tagline }}</i></b>
            </p>
            {% endif %}
        </div>
    </div>
</div>
    {{ content }}
