---
layout: default
---
<div id="page-header" class="container-fluid">
    <div class="row">
        <div class="header-content col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-3">
            <h1 class="post-title">{{ page.title }}</h1>
            <span class="header-line"></span>
            <div class="post-info">
                <img class="author-image" src="{{ site.data.owner.picture }}" alt="{{ site.data.owner.name }}'s picture." />
                <span>by</span>
                <span class="color-primary">{{ site.data.owner.name }}</span>
                <span>on</span>
                <span class="date color-primary">{{ page.date | date: "%b %-d, %Y" }}</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="post" class="col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-3">
            {% if page.image %}
                <img src="/assets/blog/{{ page.image }}" alt="Cris Noel Blog | {{ page.title }} image."/>
            {% endif %}
            <div class="post-content">
                {{ content }}
            </div>
            <hr>
            {% if page.tags.size != 0 %}
                <div class="post-tags">
                    {% for tag in page.tags %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
            <div class="post-share text-center">
                <h5>Share this post:</h5>
                <ul>
                    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"><li class="icon-facebook2">Facebook</li></a>
                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank"><li class="icon-twitter">Twitter</li></a>
                    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"><li class="icon-google-plus2">Google+</li></a>
                </ul>
            </div>
            <hr>
            <div class="post-links">
                {% if page.next.url %}
                    <a class="next btn" href="{{page.next.url}}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}"><span class="glyphicon glyphicon-chevron-left"></span>Newer</a>
                {% endif %}
                {% if page.previous.url %}
                    <a class="prev btn" href="{{page.previous.url}}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        <span class="glyphicon glyphicon-chevron-right"></span> Older</a>
                {% endif %}
            </div>
            {% include _disqus.html %}
        </div>
        <!-- <div class="col-sm-3">
            <h2>Widget Area</h2>
        </div> -->
    </div>
</div>
<div class="container-fluid subscribe">
    <div class="row">
        <div class="text-center">
            <h4>Subscribe to My Blog Posts</h4>
            <a title="You will need an RSS Feed Reader" class="btn rss-btn" href="{{ "/feed.xml" }}">Via RSS</a>
        </div>
    </div>
</div>
